body {
    margin: 0;
    font-family: 'damn_the_man' sans-serif;
}

header {
    background-color: black;
    height: 60px;
}

#b {
    background-color: blue;
    height: 100%;
    clip-path: polygon(
    0% 0,
    calc(100% - 20px) 0%,
    100% 0,
    100% 100%,
    calc(100% - 20px) 100%,
    31px 100%,
    0 calc(100% - 22.5px)
    );
}

#g {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#g img {
    height: 65px;
    width: 65px;
}

#c {
    background-color: blueviolet;
    height: 297px;
    padding-bottom: 8px;
    padding-top: 5px;
}

h1 {
    color: white;
    margin: 0;
    display: flex;
    justify-self: center;
}

p {
    margin: 0;
    color: white;
    display: flex;
    justify-self: center;
}

#d {
    background-color: rgba(130, 130, 255, 0.5);
    backdrop-filter: blur(50px);
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-top: 6px;
    margin: 7px 0;
    overflow: hidden;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    gap: 6px;
    animation: scroll 5s linear infinite;
}

#d img{
    width: 50px;
    overflow: hidden;
    transition: 0.2s;
}

#d img:hover {
    transform: scale(1.075);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-110%);
  }
}

#e {
    height: 50px;
    width: 60%;
    display: flex;
    justify-self: center;
}

input {
    outline: none;
    border: none;
    width: 85%;
    padding-left: 20px;
}

#pasteBtn {
    color: blue;
    border: none;
    width: 7.5%;
}

.divider {
    width: 2px;
    height: 20px;
    background-color: gray;
}

#downloadBtn {
    color: green;
    border: none;
    width: 7.5%;
}

footer {
    background-color: rgb(215, 215, 215);
    height: 53px;
    padding: 0 12.5px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#version {
    background-color: white;
    color: rgb(180, 180, 180);
    padding: 3px;
    border: 2.5px solid rgb(180, 180, 180);
}

@media (max-width: 600px) {
    #e {
        background-color: burlywood;
        height: 50px;
        width: 92%;
    }

    #pasteBtn {
        width: 13.5%;
    }

    #downloadBtn {
        width: 13.5%;
    }

    #f {
        display: flexbox;
    }
}